.popup {
    display: inline-block;
    width: auto;
    height: auto;
    position: relative;



    &__content {
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        padding: 0.5rem 1rem;
        background-color: $white;
        border: $border-width solid $primary;
        border-radius: $radius-small;
        white-space: nowrap;
        z-index: 99;
        visibility: hidden;
        opacity: 0;
        transition: visibility $transition-time, opacity $transition-time;

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
}